extends layout

block content
	.list
		each document in documents
			article(id=document._id)
				a(href='/'+document.name)
					- var updated = document.updated_at || document.published_at;
					- var published = document.published_at;
					- var time = published || updated;
					p.published
						span Published
						=' '
						time(datetime=time.unix())= time.fromNow()
					h1= document.title
					if document.lead
						p.lead= document.lead
