!!!5
html
	head
		title!= title
		!= css('/css/look.css')
	body(class=mode)
		#wrapper
			header#header
				h1: a(href="/")= config.name
				block header

			div#content
				block content

			footer#footer
				block footer
				include footer