!!!5
html
	head
		title Test
		//-link(rel="stylesheet",href="/assets/style.css")
		!= css('/css/look.css')
	body
		article.main
			h1!= document.title
			if document.lead != null
				p.lead!= document.lead
			!= content