
@import 'nib';

body
	background #eee

.main
	//max-width 500px
	padding 10px
	border 2px solid #ddd
	margin 10px
	color #444

	strong
		font-weight normal
		color black

	em
		font-style normal
		background rgba(yellow, 0.3)

	pre
		margin 1em -12px
		padding 10px
		border-color #bbb
		border-width 0px 2px
		border-style none solid
		background #ddd
		overflow auto

	h1
		font-size 30px
		margin 0 0 1em
		border-bottom 2px solid #ddd

	section h1
		font-size 25px

	section section h1
		font-size 20px