
scroller( col )
	background -webkit-linear-gradient(left, col 30%, rgba(col,0)),\
		-webkit-linear-gradient(left, rgba(col,0), col 70%) 100% 0,\
		-webkit-radial-gradient(0 50%, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),\
		-webkit-radial-gradient(100% 50%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 100% 0
	background-attachment local, local, scroll, scroll
	background-repeat no-repeat
	background-color col
	background-size 40px 100%, 40px 100%, 14px 100%, 14px 100%

